<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Draw a digit</h1>
        <canvas id="myCanvas" width="504" height="504"></canvas>
        <br>
        <button id="resetBtn">Reset</button>
        <button id="predictBtn">Predict</button>
        <a href="{{ url_for('labeling') }}">Help us improving the model!</a>
      </div>
    
      <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
